body {
    background-color: var(--bege02);
}

main {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    background-color: var(--branco00);
    padding: 40px 60px;
    padding-bottom: 100px;
    border-radius: 15px;
    margin-bottom: 80px;
}

main .titulo {
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
}

mark {
    background-color: transparent;
    color: var(--verde00);
}

form .inputs-encl .input {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

form .inputs-encl .input input[type="text"] {
    border: 1px solid var(--cinza04);
    border-radius: 5px;
    margin-top: 05px;
    outline: none;
    width: 350px;
    font-size: 0.9em;
    padding: 10px 30px;
    height: 60px;
}

form .inputs-encl .input #CEP{
    padding: 10px 150px 10px 30px;
}

#procurarCEPConfirmarTXT{
    margin-top: 30px;
    color: var(--verde00);
    display: inline;
    width: 100px;
    text-decoration: none;
}

form .inputs-encl .input #redirectCEP {
    margin-left: -150px;
    color: var(--verde00);
    text-decoration: none;
}

form .inputs-encl .row2 {
    display: flex;
    align-items: center;
}

form .inputs-encl .row2 .input {
    margin-right: 30px;
}

form .inputs-encl .row2 .input #EstadoLabel, form .inputs-encl .row2 .input #CidadeLabel, form .inputs-encl .input #BairroLabel, form .inputs-encl .row2 .input #RuaAvenidaLabel{
    color: var(--cinza00);
}

form .inputs-encl .row2 .input #Estado, form .inputs-encl .row2 .input #Cidade, form .inputs-encl .input #Bairro, form .inputs-encl .row2 .input #RuaAvenida{
    border: 1px dashed var(--cinza00);
}

form .inputs-encl .row2 .input .input-SN-encl{
    display: flex;
    align-items: center;
}

form .inputs-encl .row2 .input .input-SN-encl .input-label{
    margin-left: -130px;
}

form .inputs-encl .row2 .input .input-SN-encl .input-label input[type="checkbox"]{
    border-color: var(--cinza00) !important;

}

form .inputs-encl .input{
    display: flex;
}

form .inputs-encl .input p{
    margin-bottom: 10px;
}

form .inputs-encl .input img{
    width: 15px;
}

form .inputs-encl .input .inputs-radio{
    display: flex;
    align-items: center;
}

form .inputs-encl .input .inputs-radio .radio{
    margin-right: 30px;
}

#InfoAdd{
    width: 100%;
}

input[type="submit"]{
    float: right;
    margin-top: 30px;
    background-color: var(--laranja00);
    color: var(--branco00);
    padding: 10px 50px;
    border-radius: 5px;
}