h6{
    margin-bottom: 0!important;
}
    
main{
    background-color: var(--bege);
    display: flex;
    flex-direction: column;
}

main h1{
    margin: 25px 25px;
}

main .fav-div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1300px;
    background-color: var(--branco);
    border-radius: 15px;
    border: 2px solid var(--preto);
    padding: 25px;
}

main .fav-div .card{
    cursor: pointer;
    border: none;
    border-bottom: 1px solid var(--cinza4);
    border-radius: 0;
    max-width: 600px;
}

.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4 img{
    width: 170px;
    height: 170px;
}

main .fav-div .card .nome-fechar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .fav-div .card .nome-fechar i{
    cursor: pointer;
}
.card-body h6{
    color: var(--cinza4);
}

.card-body .info-vend{
    display: flex;
    align-items: center;
    
}

.card-body .info-vend img{
    width:25px;
    border-radius: 50%;
    margin-right: 5px;
}
.card-body p {
    margin-top: 10px;
}