@charset "UTF-8";

header {    
    position: sticky;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.075) !important;
}

header {
    padding: 0.5rem;
}

header nav {
    margin: 0 0.5rem;
}

header nav ul li {
    display: inline;
    margin: 0 0.5rem;
}

header nav ul li a {
    color: var(--preto);
    text-decoration: none;
}

.li-premium {
    background-color: var(--verdeescuro);
    color: var(--branco);
    width: 200px;
    padding: 0.6rem;
    border-radius: 20px;
}

.li-premium a {
    color: var(--branco);
}

.div-img-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 55vh;
    line-height: 2.3rem;
    padding: 1rem;
    filter: blur();
    background-image: url(../../IMG/img-landing-page.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--branco);
    text-shadow: 1px 1px 3px var(--pretoOpac);
}

.button-entrar {
    margin: 0.5rem auto;
    box-shadow: 1px 1px 3px var(--pretoOpac);
    font-weight: bold;
    width: 300px;
    border-radius: 20px;
    background-color: var(--laranja);
    color: var(--branco);
    height: 50px;
    transition: .2s;
}

.button-entrar:hover {
    cursor: pointer;
    background-color: rgb(226, 89, 15);
}

.section-fala-cliente {
    display: flex;
    height: 35vh;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--branco);
    text-align: center;
    background-image: linear-gradient(135deg, var(--verdeescuro), rgb(4, 54, 0));
}

.section-fala-cliente p {
    width: 600px;
}

.section-fala-cliente .cliente-matin-texto {
    margin: 0 0.5rem;
    width: max-content;
}

.section-fala-cliente figure {
    width: 50px;
    rotate: 30deg;

}

.section-fala-cliente figure img{
    width: 100%;
}

.cliente-matin {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vantagens-app {
    display: flex;
    padding: 1rem;
    font-weight: bold;
}

.vantagem-img {
    width: 40%;
}

.vantagem-img figure {
    width: 100%;
}

.vantagem-img img{
    width: 100%;
    border-radius: 20px;
}

.vantagem {
    width: 300px;
    text-align: center;
}

.vantagem figure {
    margin: auto;
    width: 100px;
}

.vantagem img {
    width: 100%;
}

.vantagens {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
