@charset "UTF-8";

.imgLogin {
    display: block;
    background-image: url("../../IMG/img-login.jpg");
    width: 65vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(200%) sepia(40%);
}

body {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

.divTop {
    position: absolute;
    top: 0;
    text-align: center;
}

.logo {
    display: flex;
    width: max-content;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto;
}

.logo figure {
    width: 80px;
}

.logo img {
    width: 100%;
}

.logo h1 {
    display: inline;
    font-size: 2rem;
}

.tituloLogin {
    padding: 0.5rem;
}

.tituloLogin h1 {
    text-align: center;
    font-size: 1.5rem;
}

.linkLogo {
    color: var(--preto);
    text-decoration: none;
}