@charset "UTF-8";

body {
    background-color: var(--bege02);
}

.hr {
    width: 100%;
    height: 2px;
    margin: 50px 0 20px 0;
    background-color: var(--cinza02);
}

.hrSemMarginTop{
    margin: 0;
}

.vertical{
    width: 2px;
    height: 60vh;
    
}

.metade{
    width: 45%;
    margin: 0;
}

mark{
    color: var(--laranja00);
    cursor: pointer;
    background-color: transparent;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    background-color: var(--branco00);
    padding: 90px 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

main .div-esquerda .maxwidth-encl {
    width: 70%;
}

main .div-esquerda #problemaTxt{
    color: var(--preto);
    text-decoration: none;
    font-weight: bold;
    
}

main .div-esquerda .maxwidth-encl .opt {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

main .div-esquerda .maxwidth-encl .opt .img-texto{
    display: flex;
    margin: 0 10px 0 0;
}

.primeiro{
    margin-top: 20px;
}

main .div-esquerda .maxwidth-encl .opt:hover {
    background-color: var(--cinza00);
}

main .div-esquerda .opt #telefone {
    width: 20px;
    
}

main .div-esquerda .opt p a {
    text-decoration: none;
    color: var(--preto);
    font-size: 14px;
    margin-left: 5px;
}

main .div-esquerda .precisoDeAjuda{
    color: var(--verde00);
    margin-top: 30px;
}

.vendedor-encl{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vendedor{
    margin-top: 130px;
    font-weight: 500;
}

.vendedorLink{
    color: var(--verde00);
    text-decoration: none;
    margin-top: 30px;
}

.div-direita{
    width: 40%;
    /* background-color: red; */
}

.entrarConta{
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

.inputs-encl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* background-color: red; */
}

.inputs-encl .input{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.segundo{
    margin-top: 20px;
}

.inputs-encl .input input{
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 15px;
    border: 1px solid var(--cinza00) !important;
    height: 40px;
}

.inputs-encl #entrarBtn{
    padding: 10px 13vw;
    border-radius: 5px;
    cursor: pointer;
    color: var(--branco00);
    background-color: var(--laranja00);
    margin-top: 30px;
}

.esqueciASenha{
    font-size: 14px;
    margin-top: 10px;
    color: var(--verde00);
}

.div-separador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.redes-sociais-encl {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.redes-sociais-encl .rede-social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px !important;
    padding: 10px;
    border: 1px solid var(--cinza00);
    border-radius: 10px;
}

.redes-sociais-encl .rede-social img{
    width: 25px;
}

.redes-sociais-encl .rede-social p a{
    color: var(--preto00);
    font-size: 14px;
    text-decoration: none;
    margin-left: 10px;
}

.novoMatin{
    text-align: center;
    margin-top: 25px;
}

.novoMatin mark a{
    text-decoration: none;
    color: var(--laranja00);
}