@charset "UTF-8";

body {
    background-color: var(--bege02);
}

main {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    background-color: var(--branco00);
    padding: 40px 60px;
    padding-bottom: 100px;
    border-radius: 15px;
    margin-bottom: 80px;
}

main #titulo{
    text-align: center;
}

form .inputs-encl .input {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

form .inputs-encl .input input[type="text"] {
    border: 1px solid var(--cinza04);
    border-radius: 5px;
    margin-top: 05px;
    outline: none;
    width: 500px;
    font-size: 0.9em;
    padding: 10px 30px;
    height: 60px;
}

.aviso{
    font-size: 14px;
    margin-top: 10px;
    color: var(--cinza04);
}

input[type="submit"]{
    float: right;
    margin-top: 30px;
    background-color: var(--laranja00);
    color: var(--branco00);
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
}