@charset "UTF-8";

body {
    background-color: var(--bege03);
}

p, label {
    padding: 0 !important;
    margin: 0 !important;
}

.paginasTopo {
    font-weight: bold;
}

hr {
    height: 1px;
    width: 100%;
    background-color: var(--cinza04);
}

a {
    text-decoration: none;
    color: var(--preto00);
}

.textoVerde {
    color: var(--verde00) !important;
}

.qntEstoque {
    margin-top: 30px !important;

}

mark,
.laranjaTxt {
    background-color: transparent;
    color: var(--laranja00);

}

section {
    padding: 30px;
}

.produto-encl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: var(--branco00);
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 3px 6px var(--cinza04);
}

section .produto-encl .produto-main {
    display: flex;
}

section .produto-encl .produto-main .fotos-prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

section .produto-encl .produto-main .fotos-prod .fotoPrincipal {
    display: flex;
    height: 300px !important ;
    object-fit: contain;
    width: 300px;
    /* margin: auto; */
}

section .produto-encl .produto-main .fotos-prod .outras-fotos-encl {
    display: flex;
    gap: 10px;
}

section .produto-encl .produto-main .fotos-prod .outras-fotos-encl .fotos-encl {
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--cinza03);
}

section .produto-encl .produto-main .fotos-prod .outras-fotos-encl .outra-foto {
    width: 70px;
    height: 70px;
    filter: blur(1px);
    padding: 10px;
}

.lado-lado {
    display: flex;
    margin-top: 10px;
}

.lado-lado hr {
    width: 2px;
    margin: 0 15px;
    height: 25px;
}

.produto-info-main {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding: 30px;
}

.avaliacao-prod-main-encl {
    display: flex;
    /* align-items: center; */

}

.avaliacao-prod-main-encl img {
    width: 20px;
    height: 20px;
}

.avaliacao-prod-main-encl p {
    margin-left: 15px;
}

#freteAD {
    margin-top: 20px !important;
    text-align: center;
    padding: 10px 0 !important;
    font-size: 14px;
    background-color: var(--verde00);
    color: var(--branco00);
}

#palavraMARCADA {
    font-weight: bold;
    color: var(--branco00);
    padding: 0;
}

.resumoCompraEncl {
    padding: 30px;
    max-width: 100%;
}

.resumoCompra {
    padding: 30px;
    border: 1px solid var(--cinza00);
    border-radius: 10px;
}

.precos {
    margin-top: 30px;
}

#precoAntigo {
    font-weight: bold;
    text-decoration: line-through;
    color: var(--laranja00);
}

#precoNovo #preco {
    font-size: 1.6em !important;
    font-weight: bolder;
}

#desconto {
    color: var(--verde00);
}

.resumoCompraEncl {
    display: flex;
    flex-direction: column;
}

.resumoCompraEncl .resumoCompra .valorFrete {
    font-weight: bolder;
    font-size: 1.2em;
}

.resumoCompraEncl .resumoCompra .descResumoCompra {
    margin: 10px 0;
}

.btns-encl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.btns-encl .comprarA {
    color: var(--branco00);
    background-color: var(--laranja00);
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid var(--laranja00);
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.btns-encl .comprarA:hover{
    color: var(--laranja00) !important;
    background-color: var(--branco00) !important;
}

.btns-encl .addCarrinhoBTN {
    background-color: var(--branco00) !important;
    border: 1px solid var(--verde00);
    padding: 10px 0;
    border-radius: 10px;
    color: var(--verde00);
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

/* Estilo do botão em estado de hover */
.btns-encl .addCarrinhoBTN:hover {
    color: var(--branco00) !important;
    background-color: var(--verde00) !important;
}

/* Estilo do link dentro do botão em estado de hover */
.btns-encl .addCarrinhoBTN:hover a {
    color: var(--branco00);
    /* Cor do link quando o botão está em hover */
}

.infoContaVendedorA{
    display: flex;
    align-items: center;
}

.infoContaVendedor {
    display: flex;
    margin-top: 20px;
}

.infoContaVendedor .infoPerfil .nomeUsu {
    font-weight: bolder;
}

.infoContaVendedor figure img {
    width: 60px;
}

.infoContaVendedor .infoPerfil {
    margin-left: 10px;
}

.infoContaVendedor .infoPerfil .qntVendas {
    font-size: 14px;
}

.infoContaVendedor .infoPerfil .perfilVerificado {
    display: flex;
}

.infoContaVendedor .infoPerfil .perfilVerificado p {
    color: var(--verde00);
    font-size: 0.95em;
}

.infoContaVendedor .infoPerfil .perfilVerificado img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 10px !important;
    object-fit: fill !important;
}

.informacoes-extras{
    margin-top: 30px;
}

.informacoes-extras .devolucao, .informacoes-extras .segurancaCompra{
    display: flex;
}

.informacoes-extras .devolucao p, .informacoes-extras .segurancaCompra p{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.informacoes-extras .devolucao figure img{
    width: 13px;
    margin-right: 10px !important;
}

.informacoes-extras .segurancaCompra figure img{
    width: 15px;
    margin-right: 10px !important;
}

.btns-encl-qnt{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    font-size: 1.1em;
    flex-direction: row;
    align-items: center;
}


.checkBoxProduto{
    display: block;
}

.btns-encl button{
    border: 1px solid var(--preto00);
    padding: 5px 15px;
    border-radius: 10px;
}

.ativo {
    border-color: var(--laranja00) !important; /* Cor da margem quando ativo */
    color: var(--laranja00); /* Cor do texto quando ativo */
}

.inativo {
    border-color: var(--preto00); /* Cor da margem quando inativo */
    color:  var(--preto00); /* Cor do texto quando inativo */
}

.top-bottom .btns-encl button{
    background-color: var(--branco00);
}

.top-bottom label, #qntPedida{
    margin-top: 30px;
    font-size: 1.1em;
}

#qntPedida{
    width: 40%;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid var(--preto00);
}

.freteCalc{
    display: flex;
    margin-top: 30px;
}

.info-resposta{
    margin-left: 30px;
}

.info-resposta .casaUsuario{
    font-weight: bold;
    margin-bottom: 10px !important;
}

.segurancaMatin{
    gap: 30px;
    margin-top: 45px;
}

.segurancaMatin .seguranca{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.segurancaMatin img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 10px !important;
}

.segurancaMatin  .seguranca{
    margin-bottom: 10px;
}

.segurancaMatin  .seguranca p{
    display: flex;
    align-items: center;
}

.segurancaMatin hr{

}

.txtRecebaLaEleUi{
    font-size: 0.9em;
}

.btnReformuladoLinkNaoMexe{
    width: 100%;
    display: block;
}

.btnReformuladoLinkNaoMexe input{
    width: 100%;
}