header {
    background-color: var(--branco);
    grid-column-start: 1;
    grid-column-end: 3;
}

button .btn-primary{
    padding-bottom: 0 !important;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav .logo-encl {
    display: flex;
    align-items: center;
}

figure,
h1,
a {
    margin-bottom: 0 !important;
}

header nav a {
    text-decoration: none !important;
    color: var(--preto);
}

header nav .logo-encl figure img {
    width: 50px;
}

header nav .logo-encl h1 {
    font-size: var(--ftamheader);
}


/*

PESQUISA DIV

*/

header .pesquisadiv {
    display: flex;
    align-items: center;
}

header .pesquisadiv select {
    background-color: var(--verdeescuro);
    color: var(--branco);
    height: 36px;
    text-align: center;
    font-size: var(--ftampeq);
    font-weight: bold;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.4rem;
}

header .pesquisadiv select option {
    background-color: var(--cinza);
    padding: 0.5rem;
    color: var(--preto);
    font-weight: bold;
    text-align: left;
}

header .pesquisadiv input[type="search"] {
    background-color: var(--cinza);
    font-size: var(--ftampeq);
    width: 800px;
    height: 36px;
    padding-left: 10px;
}

header .pesquisadiv figure {
    display: flex;
}

header .pesquisadiv figure img {
    height: 36px;
    background-color: var(--verdeescuro);
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* 

BOTÃO

*/

header nav button {
    background-color: transparent !important;
    border: none !important;
}

header nav button img {
    width: 40px;
}

/* 

SIDEBAR

*/

.offcanvas-header h5{
    color: var(--branco);
}

.offcanvas{
    background-color: var(--verdeSideBar)!important;
}

header .list-group a{
    background-color: transparent;
    color: var(--branco);
    border: none!important;
}

header .list-group a img{
    width: 25px;
    margin-right: 20px;
}
