header{
    justify-content: space-between;
}

header, header .logodiv, header .logindiv, header .pesquisadiv{
    display: flex;
    align-items: center;
}

/*

LOGO DIV

*/

header .logodiv a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
}

header .logodiv figure{
    display: inline;
}

header .logodiv figure img{
    width: 50px;
}

header .logodiv h1{
    font-size: var(--ftamheader);
}

/*

PESQUISA DIV

*/

header .pesquisadiv select{
    background-color: var(--verdeescuro);
    color: var(--branco);
    height: 36px;
    width: 100px;
    text-align: center;
    font-size: var(--ftampeq);
    font-weight: bold;
}

header .pesquisadiv select option{
    background-color: var(--cinza);
    padding-top: 5px;
    color: var(--preto);
    font-weight: bold;
}

header .pesquisadiv input[type="search"]{
    background-color: var(--cinza);
    font-size: var(--ftampeq);
    width: 800px;
    height: 36px;
    padding-left: 10px;
}

header .pesquisadiv figure{
    display: flex;
}

header .pesquisadiv figure img{
    height: 36px;
    background-color: var(--verdeescuro);
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*

LOGIN DIV

*/


header .loginbtn{
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--laranja);
}

header .logindiv figure{
    margin-right: 5px;
}

header .logindiv figure img{
    width: 30px;
}

header .logindiv #cart-btn{
    margin-right: 10px;
}

header .logindiv #cart-btn img{
    padding: 1px;
}

header .logindiv a{
    font-weight: bold;
    color: var(--preto);
    text-decoration: none;
    display: inline;
    color: var(--branco);
    font-size: var(--ftamloginbtn);
}

/*

ASIDE

*/

aside{
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    background-color: black;
}

aside .adminbtn, aside .cepbtn {
    display: flex;
    align-items: center;

}

aside .adminbtn figure img, aside .cepbtn figure img{
    height: 30px;
}

aside .adminbtn a{
    margin: 15px 0;
}

aside a{
    text-decoration: none;
    color: var(--branco);
    font-size: var(--ftamloginbtn);
    font-weight: bold;
}

aside .adminbtn a, aside .cepbtn .divcpf a{
    font-weight: normal;
}

aside nav ul li{
    display: inline-block;
    margin-left: 15px;
}

aside nav ul li:hover{
    background-color: var(--branco);
}

aside nav ul li a{
    display: block;
    padding: 15px;
}

aside nav ul li a:hover{
    color: var(--preto);
}

aside nav ul li img{
    height: 15px;
    margin-right: 5px;
}

aside .cepbtn .divcpf a p{
    margin-right: 5px;
    font-size: var(--ftampeq);
}

aside .cepbtn .divcpf #CEPletra{
    float: right;
    font-weight: bold;
    font-size: var(--ftamloginbtn);
}

/*

FOOTER TIPO 1

*/

#tipo1{
    background-color: var(--branco);
}

#tipo1 h1{
    text-align: center;
    margin-top: 55px;
    font-size: var(--ftamheader);
}

#tipo1 input[type="button"]{
    display: block;
    margin: auto;
    background-color: var(--laranja);
    color: var(--branco);
    box-shadow: 2px 2px 1px black;
    border: 1px solid var(--preto);
    width: 250px;
    margin-top: 10px;
    font-weight: bold;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#tipo1 input[type="button"]:active{
    transform: scale(0.9);
}

#tipo1 p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tipo1 p strong a{
    color: var(--verdeescuro);
    text-decoration: none;
    font-size: var(--ftampeq);
}